/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.img {
  background-color: red;
  background-origin: border-box;
  background-repeat: no-repeat;
}
.containerInMain,
.createAccountContainer {
  background-image: url("https://source.unsplash.com/collection/483251");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
}

.searchInMain,
h2,
p {
  padding: 15px;
  margin: 2px;
  text-align: center;
  color: white;
  background-color: rgba(44, 44, 44, 0.6);
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.searchInputInMain {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.headerMain {
  font-size: 2.5rem;
}
.createAccountContainer {
  text-align: center;
}
/* . {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.submitBtn {
  margin: 1rem;
  padding: 0.5rem 1.5rem;
}
