body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;

  font-weight: 500;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.headerContainer {
  background-image: url("https://images.unsplash.com/photo-1551368321-dddf8a05c459?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(128, 126, 126, 0.5);
  border-bottom: 1px solid #ccc;
}
.nav-link {
  color: white;
}
.h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.loginFormContainer,
.createAccountContainer {
  background-image: url("https://source.unsplash.com/collection/483251");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
}
.loginForm,
.createAccountForm {
  width: 50%;
  background-color: rgba(247, 247, 247, 0.8);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.loginForm button {
  margin: 1rem;
  padding: 0.5rem 2rem;
}
.loginForm ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.loginForm li {
  list-style: none;
}
.loginForm label,
.createAccountContainer label {
  margin: 1rem;
  font-size: 1rem;

  letter-spacing: 1px;
}
.loginForm a {
  text-decoration: none;
  color: black;
}
.loginForm input,
.createAccountContainer input {
  border-radius: 5px;
  border-color: #dee2e6;
  padding: 0.5rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 1rem 2rem;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  padding: 10px;
}
.description {
  font-size: 14px;
}
.fee {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .campItemImg {
  height: 1100px;
} */
.campItemContainer {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin: 1rem; */
}
.campInfo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 1rem;
}
.campInfo ul {
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 1rem;
  margin: 0;
  border-radius: 1rem;
}
.campInfo div {
  width: 60%;
  padding: 1rem;
}
.campName {
  margin: 1rem;
}
.campDescription {
  margin: 1rem;
}
.reservation {
  width: 33%;
  margin: 1rem auto;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1rem;
}
.reservation div,
.reservationBtn {
  margin: 2rem;
}
.reservationBtn {
  padding: 1rem;
}
.feeDescription {
  word-wrap: break-word;
}
.containerInDashboard {
  display: flex;
  margin: 1rem;
  position: relative;
}
.userInformation {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40%;
  height: fit-content;
}
.userInformation img {
  width: 65%;
  border-radius: 50%;
  margin: 10px;
}
/* .selectOptions {
  padding: 10px;
  display: flex;
  flex-direction: column;
} */
